/* Imports --- */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono:wght@400&display=swap');

/* Font Families ---
font-family: 'Cutive Mono', monospace;
font-family: 'Smooch Sans', sans-serif;
*/

:root {
	--light: #fff;
  --medium: #D9D9D9;
	--dark: #000;
	--accent: #632828;
  --hover: #ff5e5e;
  --h1: 55px;
  --h2: 35px;
  --h3: 25px;
  --p: 21px;
  --xs: 15px;
  --header: 60px;
}

*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
}

body {
  margin: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, li {
  list-style-type: none;
}