/* Imports --- */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Font Families ---
font-family: 'Cutive Mono', monospace;
font-family: 'Smooch Sans', sans-serif;
font-family: 'Lato', sans-serif;
*/

:root {
  --light: #f2f2f8;
  --medium: #e2e0ed;
  --dark: #3f3d56;
  --accent: #860f1c;
  --hover: #ba0a0a;
  --h1: 48px;
  --h2: 32px;
  --h3: 21px;
  --p: 18px;
  --xs: 15px;
  --header: 65px;
  --boxed: 1000px;
  --mobile: 500px;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

body {
  margin: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

/* Portfolio --- */

.slide {
  display: none;
  width: 0;
}

.slide--active {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bar {
  background: var(--medium);
  width: 30%;
  height: 10px;
  cursor: pointer;
}

.bar--active {
  background: var(--dark);
  width: 30%;
  height: 10px;
  cursor: pointer;
}
